*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.menu-um{
    width:100vw;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
}
h1{
    width: 180px;
    height: 49px;
}
ul{
    display:inline-block;
    list-style: none;
    display:flex;
    justify-content: space-evenly;
    
}
li{
    margin:1rem;
    color:grey;
}
header{
    width:100%;
    height:20%;
    background-color: #FFFFFF;
    margin:0rem 1rem 1rem 1rem;
}
.texto-header{
    background-image: url(../Portflow/Imagens/laranja\ azul\ recorte.png);
    height:100vh;
    background-size: cover;
    background-repeat: no-repeat;
    display:flex;
    flex-direction: column;
    color: white;
    font-size: 7vh; 
    text-transform: capitalize;
    font-family: 
}
h2{
    font-family:'Montserrat', sans-serif;
}
p{
    font-family: 'Montserrat', sans-serif;
}
main{
    display:flex;
    flex-direction: column;
    width:100%
}
.bloco-um{
    display:flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 2rem;
}
.foto-um{
    width: 27vw;
    height:55vh;
    margin:0rem;
    background-image: url(../Portflow/Imagens/erva\ mate.png);
}
.foto-dois{
    width: 27vw;
    height:55vh;
    margin:0rem;
    background-image: url(../Portflow/Imagens/pao\ de\ queijo.png);
}
.foto-tres{
    width: 27vw;
    height:55vh;
    margin:0rem;
    background-image: url(../Portflow/Imagens/pote.png);
}
.bloco-dois{
    display:flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 2rem;
}
.bloco-tres{
    display:flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 2rem;
}

